body
{
	text-align: center;
}

.reset, .fanciesttitle
{
	margin: 15px 0px;
}

.sketch-grid
{
	height: 600px;
	width: 600px;
	text-align: center;
	margin: 0 auto;
	padding: 1px;
}

.pixel
{

	display: inline-block;
	background-color: gray;
	border: 1px solid white;
	box-sizing: border-box;
}

.paint
{
	background-color: black;
}
